.experience {
  padding: 30px 50px;
  background: linear-gradient(
    270.16deg,
    rgba(255, 177, 71, 0.1) 5.74%,
    rgba(255, 108, 99, 0.1) 50.64%,
    rgba(184, 106, 223, 0.1) 92.05%
  );
  color: var(--font-color);
  display: flex;
  justify-content: space-between;
}
.h1, .h5{
  padding-bottom: 20px;
}
.h1{
  font-weight: 700;
}
.p {
  font-size: 18px;
  font-weight: 400;
}
.h5{
  font-size: 18px;
}
.year {
  display: flex;
  justify-content: space-between;
} 
.year h3{
  font-size: 18px;
}
.year p{
  font-size: 16px;
}
.lc {
  font-size: 32px;
}
.yn div {
  padding-bottom: 30px;
  padding-top: 10px;
}


/* awards section suru */
.awards, .my-portfolio {
  padding: 0px 50px;
  color: var(--font-color);
  margin: 50px 0px;
}
.A {
  text-align: center;
}
.B {
  max-width: 50%;
  margin: auto;
  text-align: center;
  padding: 20px 0px;
}
  /* -----------
  
  */


.design{
  background: #000;
  padding: 40px;
  margin-top: 20px;
}
.design p {
  font-weight: 400;
  font-size: 18px;
  color: gray;
}
.bd{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.bd h1 {
  font-size: 24px;
  font-weight: 400;
}
.bd p {
  font-size: 18px;
  font-weight: 700;
}


/* ------- */

.mp {
  font-size: 40px;
  font-weight: 800;
}
.pp {
  font-size: 18px;
  font-weight: 400;
  color: gray;
}

.design-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 35px;
  margin-top: 40px;
}
.design-container div{
  background-color: #000;
  padding: 20px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.wd{
  background-color: var(--main-color);
  font-size: 24px;
  font-weight: 400;
  padding: 20px;
  text-align: center;
}

/* -------- */


.website{
  margin: 50px 0px;
}
.ux{
  display: flex;
  justify-content: space-between;
}
.italic{
  padding:0px 0px 20px 0px;
}
.bw{
  padding-bottom: 20px;
}
.pain{
  padding: 20px 0px;
}



@media only screen and (min-width: 200px) and (max-width: 576px) {
  .experience {
    flex-direction: column;
    padding: 15px 5px;
  }
  .yn div{
    padding: 20px 0px 0px 0px;
  }
  .year h3{
    font-size: 16px;
  }
  .year p{
    font-size: 14px;
  }
  .lc{
    font-size: 20px;
    padding: 10px 0px;
  }

  /* ---------- */
  .awards {
    padding: 0px;
  }
  .B {
    padding: 10px 5px 0px;
    max-width: 100%;
    text-align: left;
  }
  /* ------ */

  .bd {
    flex-direction: column;
    
  }
  .bd h1 {
    font-size: 18px;
  }
  .bd h3 {
    padding: 10px 0px;
    font-size: 16px;
  }
  .design{
    padding: 15px ;
  }

  .my-portfolio{
    padding: 0px 5px;
  }
  .mp{
    font-size: 30px;
  }

  .design-container{
    grid-template-columns: auto auto;
    gap: 15px;
    padding: 0px 5px;
  }
  .design-container div {
    font-size: 16px;
  }
  .wd{
    font-size:16px ;
  }

  .ux{
    flex-direction: column-reverse;
  }
  .ux div img {
    max-width: 100%;
  }
  .pain{
    padding: 10px 0px;
  }
}