.nav-container {
  display: flex;
  color: var(--font-color);
  justify-content: space-between;
  padding: 20px 0px;
  font-weight: 400;
  font-size: 21px;
  
}
.nav-section {
  display: flex;
  gap: 30px;
  align-items: center;
}
.btn button {
  padding: 15px 25px;
  background-color: var(--main-color);
  color: var(--font-color);
  border: none;
  font-size: 21px;
  font-weight: 400;
}
.logo {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 200px) and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
  }
  .nav-section{
    font-size: 21px;
    flex-direction: column;
    gap: 15px;
  }
  .btn button {
  /* padding: 15px 25px; */
  background-color: var(--main-color);
  color: var(--font-color);
  border: none;
  font-size: 21px;
  font-weight: 400;
}
.logo {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}
}